@import "~sass-mq/mq.scss";

@import "src/config.scss";

@mixin size($size) {
  height: $size;
  min-height: $size;
}

.root {
  display: block;
  width: 100%;

  @include mq(mobile, tablet) {
    height: 100px;
    min-height: 100px;
  }
}

// sizes

.xs {
  @include size(40px);
}

.s {
  @include size(60px);
}

.m {
  @include size(80px);
}

.l {
  @include size(100px);
}

.xl {
  @include size(120px);
}

.xxl {
  @include size(200px);
}
