.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  max-width: 1000px;

  // override material-css default style
  ul > li {
    list-style: disc;
  }
}

.sub_headline {
  margin: 26px 0;
}

.grid {
  max-width: 660px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & > div {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 0 1rem;
  }

  p {
    text-align: left;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: revert;
    text-align: left;
  }
}
