.root {
  text-align: center;
  max-width: 1000px;

  // override material-css default style
  ul > li {
    list-style: disc;
  }
}
.text_left {
  text-align: left;
}

.sub_headline {
  margin: 26px 0;
}

.block {
  text-align: justify;
}
