@import "src/config";

.root {
  background: $primary-color;
  border: none;
  border-radius: 100px;
  height: 35px;
  width: 150px;
  outline: none;
  font-size: $font-size-default;
  cursor: pointer;
  transition: 200ms;

  &:hover {
    box-shadow: 0 3px 5px 0 rgba($primary-color, 0.3);
  }
}
