<article class="sponsors">
  <p class="thanks">
    <span>thank you</span>
    <span>спасибо</span>
    <span>merci</span>
    <span>gracias</span>
    <span>ありがとう</span>
    <span>grazie</span>
    <span>谢谢</span>
    <span>obrigado</span>
    <span>شكرا</span>
    <span>danke</span>
    <span>ευχαριστώ</span>
    <span>terima kasih</span>
    <span>धन्यवाद</span>
    <span>tack</span>
    <span>gràcies</span>
    <span>감사합니다</span>
    <span>kiitos</span>
  </p>
  
  <p class="names">
    <span>Our Sponsors:</span>
    <a href="/sponsoring" class="teaser">[YOU can sponsor]</a>
    <a href="https://www.codecentric.de" target="_blank">
      <img src="img/sponsors/codecentric.webp" alt="codecentric" width="150" />
    </a>
    <a href="https://deno.com" target="_blank">
      <img src="img/sponsors/deno-logo.svg" alt="deno" height="30" />
    </a>
    <a href="https://www.saab.com" target="_blank">
      <img src="img/sponsors/saab.svg" alt="saab" width="150" height="30" style="filter: grayscale(1) invert(1)" />
    </a>
  </p>
</article>