.sponsors {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  background: #252525;
}
.sponsors p  {
  overflow: hidden;
  white-space: nowrap;
  scrollbar-width: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.sponsors p.thanks span {
  margin-inline: 0 1em;
}
.sponsors p.thanks span:nth-child(odd) {
  color: #929292;
}
.sponsors p.thanks span:nth-child(even) {
  color: #3b3b3b;
}


.sponsors p.names {
  color: white;
  margin-bottom: 2em;
  gap: 2em;
  overflow-x: auto;
  white-space: nowrap;
  margin-left: 2em;
  animation: scroll 50s linear alternate infinite;
}
.sponsors p.names:has(:first-child:last-child) {
  justify-content: flex-start;
}

.sponsors p.names > * {
  color: var(--text-color-dimmed);
  text-decoration: none;
  font-size: larger;
}
.sponsors p.names > a {
  color: var(--text-color-white);
}
.sponsors p.names .teaser {
  color: var(--text-color-primary);
}

@keyframes scroll {
  /*0% {*/
  /*  transform: translateX(50%);*/
  /*}*/
  100% {
    transform: translateX(calc(-100% + 100vw));
  }
}
