.card {
  width: 230px;
  height: 250px;
  position: relative;
  overflow: auto;
  padding: 16px;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.participantDetails {
  display: none;
}
.participantSummary {
  display: block;
}

.revealActive {
  .participantDetails {
    display: block;
  }
  .participantSummary {
    display: none;
  }
}
