.card {
  width: 230px;
  height: 250px;
  position: relative;
  padding: 16px;
  padding-top: 32px;
  background-color: #fff;
  transition: box-shadow 0.25s;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.badges {
  position: absolute;
  top: 0;
  right: 16px;
  display: flex;
  color: #fff;
  box-shadow: 0 0 4px -2px #000;
}

.badgeFriday {
  display: none;
  background-color: orange;
  padding: 0 4px;
  padding-top: 8px;
}
.badgeSaturday {
  display: none;
  background-color: teal;
  padding: 0 4px;
  padding-top: 8px;
}

.participantDetails {
  display: none;
  max-height: 100%;
  overflow: auto;
}
.participantSummary {
  display: block;
  max-height: 100%;
  overflow: auto;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0;

  li {
    background-color: rgba(#ea0074, 0.9);
    border-radius: 4px;
    color: #fff;
    padding: 1px 4px;
  }
}

// modifiers

.revealActive {
  .participantDetails {
    display: block;
  }
  .participantSummary {
    display: none;
  }
}

.fridayActive {
  .badgeFriday {
    display: block;
  }
}

.saturdayActive {
  .badgeSaturday {
    display: block;
  }
}
