@font-face {
  font-family: "Source Sans Pro";
  src: url("../../assets/font/source-sans-pro-regular.ttf") format("tff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: $font-weight-semibold;
  src: url("../../assets/font/poppins-semi-bold.ttf") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../../assets/font/poppins-bold.ttf") format("woff");
  font-display: swap;
}

.root {
  // bounding box reset
  margin: 0;
}

// Components

.h1 {
  font-size: $font-size-h1;
  font-family: $font-poppins;
  font-weight: $font-weight-semibold;
}

.h2 {
  font-family: $font-poppins;
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: $font-letter-spacing;
}

.p {
  font-size: $font-size-default;
  line-height: $font-size-default * 2;
}

// Variants

.subline {
  font-size: $font-size-subline;
  line-height: $font-size-subline * 1.3;
  font-family: $font-source-sans-pro;
}

.inverted {
  color: white;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: $basic-black;

  &:hover {
    text-decoration: underline;
  }
}

.noselect {
  user-select: none;

  &:hover {
    text-decoration: none;
  }
}
