<article class="map" id="map">
  <header>
    <strong>Codecentric München</strong><br/>
    August-Everding-Straße 20<br/>
    81671 München<br/>
    <br/>
    Munich, near Ostbahnhof
  </header>

  <iframe frameborder="0" scrolling="no" style="width: 100%; height: 400px;"
          src="https://www.openstreetmap.org/export/embed.html?bbox=11.6004165,48.1205279,11.6204165,48.1305279&layer=mapnik&marker=48.1255279,11.6104165">
  </iframe>
  <a href="https://www.openstreetmap.org/?mlat=48.1255279&mlon=11.6104165#map=15/48.1255/11.6104" target="_blank" class="view-larger">
    View Larger Map
  </a>
</article>
