@import "src/config";

.root {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logoWrapper {
  flex-grow: 1;
}

.logo {
  font-family: $font-poppins;
  font-size: $font-size-h3;
  font-weight: $font-weight-semibold;
}

.navigation {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
}
.link{
  position: relative;
  z-index: 1;
  padding: .5rem 2rem;

  &:hover{
    color: white;
  }

  &::before{
    content: '';
    background-color: #ea0074;
    height: 10%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: 200ms;
  }
  &:hover::before{
    height: 100%;
  }
}