.root {
  text-align: center;
  max-width: 1000px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col {
  width: 33%;

  @media (max-width: 1000px) {
    width: 50%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }

  height: 100%;
}

.image {
  background: white;
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: #888 8px 8px 8px;
}
