.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.col {
  width: 33%;

  @media (max-width: 1000px) {
    width: 50%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.image {
  background: white;
  margin: 0.5rem;
  padding: 0.5rem;
}
