.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.col {
  width: 42%;

  @media (max-width: 1000px) {
    width: 50%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

.image {
  background: white;
  flex: 1 0 auto;
  margin: 2.75rem;
  padding: 2rem;
}
