@media only screen and (max-device-width: 680px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2rem;
  }
}

.row {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.block {
  text-align: justify;
}

code {
  background-color: #f3f3f3;
}

#map {
  width: 100%;
  height: 550px;
}

#map_wrapper {
  position: relative;
}

#map_overlay {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 99;
  background-color: #ffffff;
  padding: 30px 60px 10px 30px;
}

/* materialize cards customization */
.card .card-action {
  padding: 10px 20px 10px 20px;
}

.card .card-content .card-title {
  line-height: inherit;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  margin-right: 10px;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 55%;
}

.card .card-image img {
  top: -25px;
}

.card .card-tags-container {
  display: block;
  height: 1.5em;
  overflow: hidden;
}

.card .card-tags-container:hover {
  height: auto;
}

.card .card-tags-container .card-tag {
  transition: color 2s;
}

.card .card-tags-container:hover .card-tag {
  color: black;
}

.card .card-tag {
  margin-right: 10px;
  color: #757575;
}

footer {
  margin: 2rem 0 0 0;
  padding: 2rem;
  background-color: #2e2e2c;
  display: flex;
}

footer ul {
  padding: 0;
  color: white;
}

footer li {
  list-style: none;
  margin: 0.5rem 0;
}

footer div {
  flex: 1;
}

@media only screen and (max-device-width: 680px) {
  footer {
    display: block;
  }
}

/* MailChimp Newsletter Signup */
#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px;
}

#mc_embed_signup input.email {
  width: 95%;
}

#mc_embed_signup_container_row {
  margin-top: -40px;
  margin-bottom: -20px;
  padding-top: 0;
  padding-bottom: 0;
}

/* Overwrites for Material Design */

@media only screen and (min-width: 600px) {.flow-text {font-size: 1.114rem;}}
@media only screen and (min-width: 630px) {.flow-text {font-size: 1.133rem;}}
@media only screen and (min-width: 660px) {.flow-text {font-size: 1.152rem;}}
@media only screen and (min-width: 690px) {.flow-text {font-size: 1.171rem;}}
@media only screen and (min-width: 720px) {.flow-text {font-size: 1.190rem;}}
@media only screen and (min-width: 750px) {.flow-text {font-size: 1.210rem;}}
@media only screen and (min-width: 780px) {.flow-text {font-size: 1.229rem;}}
@media only screen and (min-width: 810px) {.flow-text {font-size: 1.248rem;}}
@media only screen and (min-width: 840px) {.flow-text {font-size: 1.267rem;}}
@media only screen and (min-width: 870px) {.flow-text {font-size: 1.286rem;}}
@media only screen and (min-width: 900px) {.flow-text {font-size: 1.305rem;}}
@media only screen and (min-width: 930px) {.flow-text {font-size: 1.324rem;}}
@media only screen and (min-width: 960px) {.flow-text {font-size: 1.344rem;}}
