@import "src/config";

.footer {
  background: $basic-black;
  margin: 2rem 0 0 0;
  padding: 2rem;
  display: flex;

  div {
    flex: 1;
  }
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
}

.logo {
  height: 100px;
  width: 90px;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 12em;

  &Headline {
    display: inline-block;
    font-family: $font-poppins;
    font-size: $font-size-h4;
    font-weight: $font-weight-semibold;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.link {
  &:hover {
    text-decoration: underline;
  }
}

.tech {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 1em;

  .icon {
    height: 30px;
    width: 30px;
  }
}
