.root {
  text-align: center;
  max-width: 1000px;
}

.paragraph {
  margin: 26px 0;
}

.list {
  display: flex;
  flex-direction: column;
  margin: 0;

  li {
    margin-left: 1.2em;
    text-align: left;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.column {
  flex: 1;
  min-width: 400px;
}
