<article class="schedule friday">
  <header>
    <strong>Friday</strong>
    <time datetime="2025-06-27">27. June 2025</time>
  </header>
  <p>
    <span>Doors opening</span>
    <span>Opening & <br/>Marketplace</span>
    <span>Two sessions</span>
    <span>Lunch</span>
    <span>Three sessions</span>
    <span>Retro/Share learnings</span>
    <span>Networking</span>
    <span>Doors closing</span>
  </p>
  <p>
    <time datetime="2025-06-27 09:00">9:00</time>
    <time datetime="2025-06-27 10:00">10:00</time>
    <time datetime="2025-06-27 11:00">11:00</time>
    <time datetime="2025-06-27 13:00">13:00</time>
    <time datetime="2025-06-27 14:00">14:00</time>
    <time datetime="2025-06-27 17:00">17:00</time>
    <time datetime="2025-06-27 18:00">18:00</time>
    <time datetime="2025-06-27 22:00">22:00</time>
  </p>
</article>
<article class="schedule saturday">
  <header>
    <strong>Saturday</strong>
    <time datetime="2025-06-28">28. June 2025</time>
  </header>

  <p>
    <span>Doors opening</span>
    <span>Marketplace</span>
    <span>Two sessions</span>
    <span>Lunch</span>
    <span>Three sessions</span>
    <span>Retro/Share learnings</span>
    <span>Doors closing</span>
  </p>
  <p>
    <time datetime="2025-06-27 09:00">9:00</time>
    <time datetime="2025-06-27 10:00">10:00</time>
    <time datetime="2025-06-27 11:00">11:00</time>
    <time datetime="2025-06-27 13:00">13:00</time>
    <time datetime="2025-06-27 14:00">14:00</time>
    <time datetime="2025-06-27 17:00">17:00</time>
    <time datetime="2025-06-27 18:00">18:00</time>
  </p>

</article>