<nav class="top-nav">
  <ul>
    <li><a href="/" class="home">JSCraftCamp</a></li>
    
<!--    <li><a href="/" class="partici">Participants</a></li>-->
    <li><a href="/#map">Venue</a></li>
    <li><a href="/registration/" class="registration">Registration</a></li>
    <li><a href="/sponsoring/" class="sponsoring">Sponsoring</a></li>
    <li><a href="/values/" class="values">Values</a></li>
<!--    <li><a href="/" class="">Team</a></li>-->
  </ul>

  <ul>
    <li>Socials</li>
    <li><a href="https://discord.gg/3mHhaXVEjP" target="_blank">discord</a></li>
    <li><a href="https://github.com/jscraftcamp/website" target="_blank">github</a></li>
    <li><a href="https://www.linkedin.com/search/results/all/?keywords=%23jscc25" target="_blank">linkedin</a></li>
    <li><a href="https://mastodontech.de/tags/jscc25" target="_blank">mastodon</a></li>
  </ul>
</nav>
