<footer>
  <div>
    <h3>Get in touch</h3>
    <ul>
      <li><a href="https://twitter.com/jscraftcamp">Twitter</a></li>
    </ul>
  </div>
  <div style="flex: 1.5">
    <h3>Archive</h3>
    <ul>
      <li>
        <a href="/info2016">2016 Info</a>
      </li>
      <li>
        <a href="/participants2016">2016 Participants</a>
      </li>
    </ul>
  </div>
</footer>
