<html>
  <head>
    <head>
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/main.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
  </head>
  <body>
    <nav class="blue">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">JS CraftCamp</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="imprint.html">Impressum</a></li>
          <li><a href="https://twitter.com/jscraftcamp"><i class="fa fa-twitter fa-fw"></i></a></li>
        </ul>
      </div>
    </nav>
    <%- yield %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
