$font-size-default: 16px;
$font-size-h1: 28px;

$font-weight-bold: 700;
$font-weight-semibold: 600;

$color-black: #000;

$font-family-poppins: "Poppins";
$font-family-source-sans-pro: "Source Sans Pro";
