// fonts
$font-source-sans-pro: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial";
$font-poppins: "Poppins";

$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-size-h1: 44px;
$font-size-h2: 28px;
$font-size-h3: 26px;
$font-size-h4: 18px;
$font-size-paragraph: 28px;
$font-size-subline: 22px;
$font-size-default: 16px;
$font-size-small: 14px;

$font-letter-spacing: calc(1em / 6);

// colors
$primary-color: #ea0074;
$basic-black: black;
