<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="header center blue-text">How to do the Pull Request</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h5 class="col s12 m3 header">1. Go to <a href="https://github.com/jscraftcamp/website">our Github-Repo</a> and fork it.</h5>
    <img  class="col s12 m9" src="/img/pr_screenshots/fork.png"/>
  </div>
  <div class="row">
    <h5 class="col s12 m3 header">2. Clone <b>your fork</b>.</h5>
    <img  class="col s12 m9" src="/img/pr_screenshots/clone.png"/>
  </div>
  <div class="row">
    <h5 class="col s12 m12 header">3. Maker you changes, commit and push.</h5>
  </div>
  <div class="row">
    <h5 class="col s12 m12 header">4. Go to <a href="https://github.com/jscraftcamp/website">our Github-Repo</a> and create a <b>New pull request</b>.</h5>
  </div>
  <div class="row">
    <h5 class="col s12 m3 header">5. Compare <b>jscraftcamp/master</b> to <b><you>/master</b>.</h5>
    <img  class="col s12 m9" src="/img/pr_screenshots/compare.png"/>
  </div>
  <div class="row">
    <div class="col s12 m3">
      <h5 class="header">6. Fill comment section, while waiting for travis to complete.</h5>
      <p class="block">Make shure, you read the comment section carefully. Accept the paragraphs and insert an [X] as sign of your acceptance.</p>
      <p class="block">Travis (our CI-Server) will check, if your pull request, is valid JSON and your PR fullfills all requirements</p>
    </div>
    <img  class="col s12 m9" src="/img/pr_screenshots/fill_out_comment.png"/>
  </div>

  <div class="row">
    <div class="col s12 m3">
      <h5 class="header">7a1. If something goes wrong....</h5>
      <p class="block">If Travis detects an error, click on <b>Details</b>, to get a detailed error log.</p>
    </div>
    <img  class="col s12 m9" src="/img/pr_screenshots/travis_fail.png"/>
  </div>

  <div class="row">
    <div class="col s12 m3">
      <h5 class="header">7a2. See the Details</h5>
      <p class="block">Here you will find the cause of the error. In the example screenshot on the right, the JSON was invalid therefore you get the somewhat strange "<i>before all hook</i>"-message. In other cases, you get more helpfull messages, like "<i>must contain a name</i>"</p>
    </div>
    <img  class="col s12 m9" src="/img/pr_screenshots/travis_details.png"/>
  </div>

  <div class="row">
    <div class="col s12 m3">
      <h5 class="header">7b. Everything 's green....</h5>
      <p class="block">If Travis doesnt report an error, your JSON is most likely ok! &mdash; <b>Welcome to #JSCC16</b>.</p>
    </div>
    <img  class="col s12 m9" src="/img/pr_screenshots/travis_success.png"/>
  </div>


</div>

<script type="text/javascript" src="js/prism.js"></script>
<script type="text/javascript" src="js/prism-line-highlight.js"></script>
