<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="header center blue-text">How to do the Pull Request</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <h5 class="header center">1. Go to <a href="https://github.com/jscraftcamp/website">our Github-Repo</a> and fork it.</h5>
    </div>
    <img  class="col s12 m6" src="/img/pr_screenshots/1_fork.png"/>
  </div>
  <div class="row">
    <div class="col s12 m8">
      <h5 class="header center">1. Go to <a href="https://github.com/jscraftcamp/website">our Github-Repo</a> and fork it.</h5>
    </div>
    <img  class="col s12 m4" src="/img/pr_screenshots/2_clone.png"/>
  </div>

</div>

<script type="text/javascript" src="js/prism.js"></script>
<script type="text/javascript" src="js/prism-line-highlight.js"></script>
