<div class="container" style="text-align: center; margin-left: auto; margin-right: auto; width: 300px;">
    <img src="/img/jscc-logo-without-text.svg" width="300" style="margin-top: 4em; margin-bottom: -4em;"/>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <h1 class="header center blue-text">JSCraftCamp</h1>
            <h3 class="header center light">A BarCamp about JavaScript and Software Craftsmanship</h3>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <h5 class="header center">BarCamp</h5>
            <p class="block">A barcamp – also called an unconference – is an event without any previously fixed agenda.
                This means that all the participants meet in the morning and decide about the schedule for the day.
                Everyone can offer a session - from a short hands-on workshop to moderating a discussion. The goal is to
                make everything as participative as possible. You can read more about unconferences at <a
                        href="https://en.wikipedia.org/wiki/Unconference">Wikipedia</a>.</p>
        </div>
        <div class="col s12 m4">
            <h5 class="header center">JavaScript</h5>
            <p class="block">The focus of this BarCamp are JavaScript and related technologies. Possible topics are:
                Popular frameworks like AngularJS and React, the latest ECMAScript standard, languages like Elm or
                TypeScript which transpile to JavaScript, server-side programming with node.js, paradigms like event
                driven programming or future technologies like WebAssembly.</p>
        </div>
        <div class="col s12 m4">
            <h5 class="header center">Software Craftsmanship</h5>
            <p class="block">Have you ever struggled with an huge old JavaScript codebase? Or rolled your eyes about an
                <code>'undefined' is not a function</code> error? We will discuss which tools, practices and
                architecture patterns – from continuous integration to modular components – can help to create and
                maintain long-living, evolvable JavaScript applications.</p>
        </div>
    </div>

    <a name="location"></a>
    <h3 class="header blue-text">Location:</h3>
    <div id="map_wrapper">
        <div id="map"></div>
        <div id="map_overlay">
            <img src="img/vi_logo.jpeg" alt="Virtual Identity AG" width="120px">
            <h5>Virtual Identity AG</h5>
            <p class="lead">
                Isarwinkel 16<br/>
                81379 München<br/>
                <a href="http://virtual-identity.com/">http://virtual-identity.com</a>
            </p>
            <p class="lead">
                by U-Bahn: Thalkirchen (U3), 5 minute walk<br/>
                by Car: There are parking areas nearby
            </p>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr5F59SnCVuS2CjZqWGvuZDy4JnlkdXp0"></script>
        </div>
    </div>
</div>