<div class="container" style="text-align: center; margin-left: auto; margin-right: auto; width: 300px;">
    <img src="/img/jscc-logo-without-text.svg" width="300" style="margin-top: 4em; margin-bottom: -4em;"/>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <h1 class="header center blue-text">Munich, October 8+9 2016</h1>
            <h3 class="header center light">Thanks to all Participants for a great Barcamp in 2016!</h3>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <h4 class="header center blue-text">Moderation</h4>
            <h5 class="header center light">Pierluigi Pugliese <a href="https://www.linkedin.com/in/ppugliese"
                                                                  target="_blank"><i class="fa fa-linkedin-square"
                                                                                     aria-hidden="true"></i></a></h5>
        </div>
    </div>

    <a name="sponsors"></a>
    <div class="row">
        <div class="col s12 m12">
            <h4 class="header center blue-text">Sponsors</h4>
        </div>

        <div class="col s12 m4 offset-m2">
            <br/>
            <a href="http://www.tngtech.com/"><img class="responsive-img" src="img/tng_logo.png"
                                                   alt="TNG Technology Consulting GmbH "></a>
        </div>
        <div class="col s12 m4">
            <br/>
            <a href="https://www.atoss.com/"><img class="responsive-img" src="img/atoss_logo.png"
                                                  alt="ATOSS Software AG"></a>
            <br/> <br/>
        </div>

        <div class="col s12 m4 offset-m2">
            <br/>
            <a href="http://www.gutefrage.net/"><img class="responsive-img" src="img/gf_logo.png"
                                                     alt="gutefrage.net GmbH"></a>
            <br/> <br/>
        </div>
        <div class="col s12 m4">
            <br/>
            <a href="http://virtual-identity.com/"><img class="responsive-img" src="img/vi_logo.jpeg"
                                                        alt="Virtual Identity AG"></a>
            <br/> <br/>
        </div>

        <div class="col s12 m4 offset-m2">
            <br/>
            <a href="https://www.innoq.com/"><img class="responsive-img" src="img/innoq_logo.png"
                                                  alt="innoQ Deutschland GmbH"></a>
        </div>
        <div class="col s12 m4">
            <br/> <br/>
            <a href="https://www.codecentric.de/"><img class="responsive-img" src="img/cc_logo.png"></a>
            <br/> <br/>
        </div>

        <div class="col s12 m4 offset-m2">
            <br/>
            <a href="http://simplabs.com"><img class="responsive-img" src="img/simplelabs-logo.png" alt="simplabs GmbH"></a>
        </div>
        <div class="col s12 m4">
            <a href="https://www.scandio.de">
                <img class="responsive-img" src="img/scandio_logo_google.jpg" alt="Scandio GmbH">
            </a>
        </div>
    </div>

    <a name="schedule"></a>
    <div class="row">
        <div class="col s12 m12">
            <h4 class="header center blue-text">Schedule</h4>
            <div class="col s12 m6">
                <h5 class="header center light">Saturday</h5>
                <table class="bordered">
                    <tr>
                        <td>9:30</td>
                        <td>Doors open</td>
                    </tr>
                    <tr>
                        <td>10:00-11:00</td>
                        <td>Opening & Marketplace</td>
                    </tr>
                    <tr>
                        <td>11:00-13:00</td>
                        <td>Sessions</td>
                    </tr>
                    <tr>
                        <td>13:00-14:00</td>
                        <td>Lunch</td>
                    </tr>
                    <tr>
                        <td>14:00-17:00</td>
                        <td>Sessions</td>
                    </tr>
                    <tr>
                        <td>17:00-18:00</td>
                        <td>Review</td>
                    </tr>
                </table>
            </div>
            <div class="col s12 m6">
                <h5 class="header center light">Sunday</h5>
                <table class="bordered">
                    <tr>
                        <td>9:30</td>
                        <td>Doors open</td>
                    </tr>
                    <tr>
                        <td>10:00-11:00</td>
                        <td>Marketplace</td>
                    </tr>
                    <tr>
                        <td>11:00-13:00</td>
                        <td>Sessions</td>
                    </tr>
                    <tr>
                        <td>13:00-14:00</td>
                        <td>Lunch</td>
                    </tr>
                    <tr>
                        <td>14:00-16:00</td>
                        <td>Sessions</td>
                    </tr>
                    <tr>
                        <td>16:00-17:00</td>
                        <td>Review & Closing</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDr5F59SnCVuS2CjZqWGvuZDy4JnlkdXp0"></script>
    </div>
</div>


<a name="location"></a>
<h3 class="header center blue-text">Location:</h3>
<div id="map_wrapper">
    <div id="map"></div>
    <div id="map_overlay">
        <img src="img/vi_logo.jpeg" alt="Virtual Identity AG" width="120px">
        <h5>Virtual Identity AG</h5>
        <p class="lead">
            Isarwinkel 16<br/>
            81379 München<br/>
            <a href="http://virtual-identity.com/">http://virtual-identity.com</a>
        </p>
        <p class="lead">
            by U-Bahn: Thalkirchen (U3), 5 minute walk<br/>
            by Car: There are parking areas nearby
        </p>
    </div>
</div>
