<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="header center blue-text">Participants</h1>
    </div>

    <div class="col s12 m6">
      <h5 class="header center" id="sum_saturday"/>
    </div>
    <div class="col s12 m6">
      <h5 class="header center" id="sum_sunday"/>
    </div>
  </div>

  <div id="tags" class="row"></div>
  <div id="participants" class="row"></div>
</div>


<script id="tag-template" type="text/x-handlebars-template">
  <span title="{{count}}" style="font-size: {{fontSize}}px">#{{name}}</span>
</script>

<script id="participant-template" type="text/x-handlebars-template">
  <div class="col s12 m6 l3">
    <div class="card medium">
      <div class="card-image">
        {{#if urls.photo}}
           <img class="activator" src="{{urls.photo}}">
        {{else}}
           <img class="activator" src="/img/nophoto.png">
        {{/if}}
      </div>
      <div class="card-content">
        <span class="card-title activator">{{name}}<i class="material-icons right">more_vert</i></span>
        {{#if company}}
           <p>{{company}}</p>
        {{/if}}
      </div>
      <div class="card-reveal">
        <span class="card-title activator">{{name}}<i class="material-icons right">close</i></span>
        {{#if what_is_my_connection_to_javascript}}
        <p>{{what_is_my_connection_to_javascript}}</p>
        {{/if}}
        {{#if what_can_i_contribute}}
        <p>{{what_can_i_contribute}}</p>
        {{/if}}
      </div>
      <div class="card-action">
        {{#if urls.homepage}}
        <a class="blue-text" href="{{urls.homepage}}"><i class="fa fa-home fa-fw"/></a>
        {{/if}}
        {{#if urls.github}}
        <a class="blue-text" href="{{urls.github}}"><i class="fa fa-github fa-fw"/></a>
        {{/if}}
        {{#if urls.twitter}}
        <a class="blue-text" href="{{urls.twitter}}"><i class="fa fa-twitter fa-fw"/></a>
        {{/if}}
        <div class="card-tags-container">
          {{#list tags}}
             <span class="card-tag">#{{ this }}</span>
          {{/list}}
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript" src="./js/tag-stats.js"></script>
<script type="text/javascript">

window.onload = function() {
  $.getJSON("/participants.json", function(data) {
    var items = [];
    var sum = 0;
    var sum_saturday = 0;
    var sum_sunday = 0;
    var tagLists = [];
    $.each(data, function(index, participant) {
      var source = $("#participant-template").html();
      var template = Handlebars.compile(source);
      var card = template(participant);
      items.push(card);
      sum++;
      if(participant.when.saturday) sum_saturday++;
      if(participant.when.sunday) sum_sunday++;
      tagLists.push(participant.tags);
    });
    $("#participants").append(items.join(""));
    $("#sum").append(sum+" participants");
    $("#sum_saturday").append(sum_saturday+" participants on Saturday (max. 80)");
    $("#sum_sunday").append(sum_sunday+" participants on Sunday (max. 80)");

    var source = $("#tag-template").html();
    var template = Handlebars.compile(source);
    var renderedTags = tagStatsForParticipants(tagLists).map(function(tag) { return template(tag); });
    $("#tags").append(renderedTags.join(""));

  });

Handlebars.registerHelper('list', function(context, options) {
  var ret = "";
  for(var i=0, j=context.length; i<j; i++) {
    ret = ret + options.fn(context[i]);
  }
  return ret;
});
};

</script>

