<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <h1 class="header center blue-text">#JSCC18 Photos</h1>
        </div>

        <%
        for(var i in public._data.photos2018) {

            var item = public._data.photos2018[i];
            var needsNewRow = i % 3 == 0 ;
            var needsClosingTag = (i + 1) % 3 == 0;
        %>
        <% if(needsNewRow) { %>
            <div class="row">
        <% } %>
            <div class="col s4">
                <img class="materialboxed responsive-img" src="<%= item.url %>" alt="">
            </div>
        <% if(needsClosingTag) { %>
            </div>
        <% } %>
        <% } %>
    </div>


</div>



