<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="header center blue-text">Registration</h1>
      <h3 class="header center light">Create a JSON File and submit it via a GitHub Pull Request</h3>
    </div>
  </div>
</div>





