<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="header center blue-text">Registration</h1>
      <h3 class="header center light">Create a JSON File and submit it via a GitHub Pull Request</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h4 class="header center blue-text">The JSON Format</h4>
      <pre data-line="2,5,6-9,10,11" class="language-json">
        <code class="language-json">{
            "name": "Foo Bar",
            "company": "A company name",
            "tags": [ "angular" ],
            "when": {
              "saturday": true,
              "sunday": true
            },
            "what_is_my_connection_to_javascript": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
            "what_can_i_contribute_to_js_craftcamp": "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.",
            "urls": {
              "photo": "http://materializecss.com/images/sample-1.jpg",
              "homepage": "http://www.example.com/",
              "github": "https://github.com/",
              "twitter": "https://twitter.com/"
            }
       }</code>
      </pre>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/prism.js"></script>
<script type="text/javascript" src="js/prism-line-highlight.js"></script>







