<style>
    ul.real_list li {
        list-style-type: disc;
    }
    i.sponsor_image {
      font-size: 8em;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <h1 class="header center <%= public._data.baseColor %>-text">Want to become a Sponsor?</h1>
            <h3 class="header center light">Expose your Company to a Group of Highly Motivated Technology
                Enthusiasts</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="row flow-text">
        <div class="col s12 m6">
            <h5 class="header center">You will get ...</h5>
            <ul class="real_list">
                <li>Get up to <b>5 preregistered participant spots</b> for your representatives</li>
                <li>We place your <b>logo</b> and <b>link</b> on the JSCraftCamp website</li>
                <li>Your <b>exhibitor</b> will be visible for the whole time during the event</li>
                <li>Your <b>company name</b> will be mentioned several times during the conference</li>
                <li>It's an OpenSpace &mdash; contribute the <b>talks that are important to you</b> to the community
                </li>
                <li>Sponsors will be announced via the official JSCC <b>Twitter</b> account</li>
            </ul>
        </div>
        <div class="col s12 m6">
            <h5 class="header center">Why Sponsor?</h5>
            <p class="block">
                The JSCraftCamp is an Open Space conference that attracts diverse people from the JavaScript community
                who really care about their craft. The crowd is self selected by investing time for their own application
                (pull request).
                Besides developers, you will find all kind of people with different job roles that really care about
                technology and improvement.
                You will get the chance to present your brand to these 100 to 120 highly skilled individuals and show
                them how much you care!
                We'll all thank you for that!</p>
        </div>
    </div>

</div>

<div class="row">
    <h3 class="header center light">Show how much you care about improving the state of Crafting Software and Clean Code in
        the JS-Community!</h3>
</div>

<div class="container">
  <h2 class="header center" id="what-to-sponsor">What to Sponsor?</h2>
  <p class="flow-text block">
    All expense will serve the attendees of the JSCraftCamp, all the expenses serve for food, drinks, chairs,
    and all alike things that are needed for spending a couple of days together thinking and hacking for the
    modern world.
  </p>
  <div id="participants" class="row">
  </div>
</div>

<script id="participant-template" type="text/x-handlebars-template">
  <div class="col s12 m6 l3">
    <div class="card small">
      <a name="{{name}}" />
      <div class="card-image center {{#unless needsSponsor}}orange-text{{else}}grey-text{{/unless}}">
        <i class="sponsor_image material-icons">{{icon}}</i>
      </div>
      <div class="card-content">
        <span class="card-title activator">{{name}}<!-- do not yet exist
         <i class="material-icons right">more_vert</i> -->
        </span>
        <p>{{priceRange}}</p>
      </div>
      <!-- do not yet exist
      <div class="card-reveal">
        <span class="card-title activator">Details<i class="material-icons right">close</i></span>
      </div>
      -->
      <div class="card-action">
        <div class="card-tags-container center">
          {{#if needsSponsor}}
            <a href="https://github.com/jscraftcamp/website/issues/{{issueId}}">
              Sponsor this!<br />
              Click for details<br /> and to contact us.
            </a>
          {{else}}
            ✅ Sponsored by {{sponsor}}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript">

window.onload = function() {
  Handlebars.registerHelper('list', function(context, options) {
    var ret = "";
    for(var i=0, j=context.length; i<j; i++) {
      ret = ret + options.fn(context[i]);
    }
    return ret;
  });

  var data = [
    { name: 'Venue', priceRange: 'room for ~100 people', icon: 'home', sponsor: 'Virtual Identity', issueId: 548},
    { name: 'Beverages', priceRange: '~500 €', icon: 'local_drink', sponsor: 'methodpark', issueId: 561},
    { name: 'Lunch Friday', priceRange: '~1000 €', icon: 'local_restaurant', sponsor: 'Hetzner Cloud', issueId: 538},
    { name: 'Lunch Saturday', priceRange: '~1000 €', icon: 'local_restaurant', sponsor: 'SinnerSchrader', issueId: 547},
    { name: 'Snacks Friday', priceRange: '~100 €', icon: 'restaurant', sponsor: 'cioplenu', issueId: 559},
    { name: 'Snacks Saturday', priceRange: '~200 €', icon: 'restaurant', sponsor: 'Jambit', issueId: 562},
    // { name: 'Renting Chairs', priceRange: '(for community space) ~200 €', icon: 'event_seat', issueId: },
    { name: 'Coffee', priceRange: '~300 € (depends on quality)', icon: 'local_cafe', sponsor: 'Peerigon', issueId: 558},
    { name: 'Chairs', priceRange: '~300 €', icon: 'event_seat', sponsor: 'ConSol', issueId: 537},
    { name: 'T-Shirts', priceRange: '~1200 €', icon: 'accessibility', sponsor: 'codecentric AG', issueId: 555},
    { name: 'Stickers', priceRange: '~100 €', icon: 'note', sponsor: 'Entwicklerstube', issueId: 556},
    { name: 'Party', priceRange: '~1000 €', icon: 'local_bar', sponsor: 'TNG', issueId: 560},
    { name: 'BBQ', priceRange: '~0 €', icon: 'restaurant', sponsor: '', issueId: 586},
    { name: 'Money: 100 €', priceRange: '', icon: 'euro_symbol', issueId: 564},
    { name: 'Money: 200 €', priceRange: '', icon: 'euro_symbol', issueId: 563},
    { name: 'Money: 500 €', priceRange: '', icon: 'euro_symbol', sponsor: 'DATEV', issueId: 565},
  ];
  function renderTemplate() {
    var items = [];
    $.each(data, function(index, participant) {
      var source = $("#participant-template").html();
      var template = Handlebars.compile(source);
      participant.needsSponsor = !participant.sponsor;
      var card = template(participant);
      items.push(card);
    });
    $("#participants").append(items.join(""));
  }

  renderTemplate();
};

</script>