<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="header center blue-text">The Team</h1>
      <p class="block center">
        We are simple developers organizing this event in our spare time.
        If you have any questions or problems before or during the conference, don't hesitate to contact one of us!
      </p>
      <p>You can always reach us by E-Mail: <a href="mailto: team@jscraftcamp.org">team@jscraftcamp.org</a></p>
    </div>
  </div>
  <div class="row">
    <%
    for(var i in public._data.theteam) {
      var member = public._data.theteam[i];
    %>

    <div class="col s12 m4 l3">
      <div class="card">
        <% if(member.photo) { %>
        <div class="card-image">
          <img class="responsive-img materialboxed" src="img/theteam/<%= member.photo %>">
        </div>
        <% } %>
        <div class="card-content">
          <span class="card-title grey-text text-darken-4">
            <%= member.name %>
          </span>
          <a class="grey-text text-darken-6" href="mailto: <%= member.email %>">
            <%= member.email %>
          </a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
