<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <h1 class="header center blue-text">Everybody is welcome</h1>
    </div>
    <div class="col s12 m6">
      <h2 class="header center blue-text">Inclusive</h2>
      <p>
        One big goal of JSCraftCamp is to be inclusive for all contributors,
        with the most varied and diverse backgrounds possible.
      </p>
    </div>

    <div class="col s12 m6">
      <h2 class="header center blue-text">Safe Environment</h2>
      <p>
        We are committed to providing a <strong class="blue-text">friendly, safe and welcoming</strong>
        environment for all, regardless of gender, sexual orientation, programming
        language, ability, ethnicity, socioeconomic status, and religion (or lack thereof).
      </p>
    </div>
  </div>

  <div class="col s12 m6">
    <p>
      We invite all those who participate in the JSCraftCamp and the community surrounding
      the conference to help us create safe and positive experiences for everyone.
    </p>
    <ul>
      <li><strong class="blue-text">Be welcoming</strong>, friendly, and patient.</li>
      <li><strong class="blue-text">Be respectful</strong>.
        Not all of us will agree with each other all the time, but disagreement
        is no excuse for poor behavior and poor manners. We might all experience
        some frustration now and then, but we cannot allow that frustration to
        turn into a personal attack.
      </li>
      <li><strong class="blue-text">Be aware of the effect your words may have on others</strong>.
        We are a community of professionals, and we conduct ourselves professionally.
        Be kind to others. Do not insult or put down other participants.
        Harassment and other exclusionary behavior aren't acceptable.
      </li>
    </ul>

    <h3 class="header center blue-text">Scope</h3>
    <p>
      This code of conduct applies to the JSCraftCamp conference itself and to
      all digital spaces that are related to the JSCraftCamp conference,
      such as the wiki and mailing list.
    </p>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <h3 class="header center blue-text">Credits</h3>
      <p>
        We share the values that others have made the effort to put
        into well chosen words, especially this page is inspired by the
        <a href="https://www.socrates-conference.de/values.html">values of SoCraTes</a>.
        Thanks a lot.
      </p>
    </div>
    <div class="col s12 m6">
      <h3 class="header center blue-text">Questions, Contact</h3>
      <p>
        Feel free to contact us by any mean available on the site, or personally.
      </p>
    </div>
  </div>
</div>
