<div class="container">
  <div class="row">
    <div class="col s12 l10 offset-l1">
      <h1 class="header center <%= public._data.baseColor %>-text">Values</h1>
      <h3 class="header center light">
        A primary goal of JSCraftCamp is to be inclusive to the largest number of contributors, with the most varied and diverse backgrounds possible.
      </h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row flow-text">
    <div class="col s12 l10 offset-l1">
      <h5 class="header center">Our Code of Conduct</h5>
      <p class="block">
        We are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, programming language, ability, ethnicity, socioeconomic status, and religion (or lack thereof).
      </p>
      <p class="block">
        And so we invite all those who participate in the SoCraTes conference and the community surrounding the conference to help us create safe and positive experiences for everyone.
      </p>
      <p class="block"><strong>Be welcoming, friendly, and patient.</strong></p>
      <p class="block"><strong>Be respectful.</strong> Not all of us will agree with each other all the time, but disagreement is no excuse for poor behavior and poor manners. We might all experience some frustration now and then, but we cannot allow that frustration to turn into a personal attack.</p>
      <p class="block"><strong>Be aware of the effect your words may have on others.</strong> We are a community of professionals, and we conduct ourselves professionally. Be kind to others. Do not insult or put down other participants. Harassment and other exclusionary behavior aren't acceptable.</p>
      <p class="block">
        This code of conduct applies to the JSCraftCamp itself and to all digital spaces that are related to the JSCraftCamp, such as Twitter, Github, and the mailing list.
      </p>
    </div>
  </div>
  <div class="row flow-text">
    <div class="col s12 l10 offset-l1">
      <h5 class="header center">Report violations</h5>
      <p class="block">
        If you believe someone is violating the code of conduct, we ask that you report it by <a href="/imprint.html">emailing us</a> or during the event by contacting any of our staff.
      </p>
      <h6 class="header center">Credits</h6>
      <p>This code of conduct is inspired by the <a href="https://www.socrates-conference.de/values.html" target="_blank" ref="friend met">SoCraTes Conference Code of Conduct</a>.</p>
    </div>
  </div>
</div>
